<h1>Movie Lists</h1>
<% @lists.each do |list| %>
  <%= link_to list_path(list), class: 'text-dark text-decoration-none' do %>
  <p><%= list.name %></p>
  <% end %>
<% end %>

<%= link_to "Add a new list", new_list_path(@list) %>
